<div class="home-container-scroll">
  <h1 class="title is-2" style="margin-left: 2.5%;">Devices</h1>
  <div *ngIf="devices.length > 0">
    <div *ngFor="let device of devices">
      <a href="/devices/{{ device.id }}">
        <div class="box my-5 device-box">
          <h4 class="is-size-4 has-text-weight-bold">{{ device.hostname }}</h4>
          <p>
            <span class="has-text-weight-semibold">Category: </span><span class="tag is-info"><b>{{ device.category }}</b></span>
          </p>
        </div> 
      </a>
    </div>
    <div class="has-text-centered mb-5">
      <a href="/devices" class="button is-primary" style="background-color: #ff0000;">
        <strong>show more</strong>
      </a>
    </div>
  </div>
  <div *ngIf="devices.length <= 0">
    <div class="box my-5 device-box">
      <h4 class="is-size-4 has-text-weight-bold">Sorry!</h4>
      <p>
        There are currently no devices to show!
      </p>
    </div>
  </div>
</div>
