<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="box" id="filter">
    <form [formGroup]="categoryForm" (ngSubmit)="submitForm()" novalidate>
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="field" *ngFor="let category of categories; let i=index" id="form-elements">
            <label class="checkbox">
              <input type="checkbox" [value]="category" (change)="onCheckboxChange($event)">
              {{ category }}
            </label>
          </div>
        </div>
        <div class="column"></div>
        <div class="column">
          <input type="submit" value="Filter" class="button is-link" id="button">
        </div>
      </div>
    </form>
  </div>
  <div class="flex-container">
    <div *ngFor="let device of devices">
      <a href="/devices/{{ device.id }}">
        <div class="box my-5 mx-5 flex-item">
          <h4 class="is-size-4 has-text-weight-bold">{{ device.device }}</h4>
          <p>
            <span class="has-text-weight-semibold">Category: </span><span
              class="tag is-info"><b>{{ device.category }}</b></span>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
<app-footer></app-footer>
