#form-elements {
    display: inline;
    margin-right: 2%;
  }  

.table {
    border-collapse: separate;
    border-spacing: 0 5px;
    width: 100%;
  }
  
  .table-data{
      vertical-align: middle;
  }
  
  .table-row:hover{
      background-color: rgb(240, 240, 240);
  }

  [data-href] { cursor: pointer; }

.flex-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.flex-item{
  width: 22em;
}