#form-elements {
  display: inline;
  margin-right: 2%;
}

.event-heading {
  border-left: 5px solid transparent;
}

.event-debug {
  border-left: var(--events_debug) 5px solid;
}

.event-information {
  border-left: var(--events_information) 5px solid;
}

.event-warning {
  border-left: var(--events_warning) 5px solid;
}

.event-error {
  border-left: var(--events_error) 5px solid;
}

.event-disaster {
  border-left: var(--events_disaster) 5px solid;
}

.table {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
}

.table-data {
  vertical-align: middle;
}

.table-row:hover {
  background-color: var(--sw-port);
}

.sw-port-admin-up{
  border-left: var(--sw-port-admin-up) 5px solid;
}

.sw-port-operational-up{
  border-left: var(--sw-port-operational-up) 5px solid;
}

.sw-port-10mbps{
  border-left: var(--sw-port-10mbps) 5px solid;
}

.sw-port-100mbps{
  border-left: var(--sw-port-100mbps) 5px solid;
}

.sw-port-1000mbps{
  border-left: var(--sw-port-1000mbps) 5px solid;
}

.sw-port-operational-down{
  border-left: var(--sw-port-operational-down) 5px solid;
}

.sw-port-admin-down{
  border-left: var(--sw-port-admin-down) 5px solid;
}

.flex-container{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: start;
}

.flex-item{
  width: 20em;
}
