#switch{
  height: 6vw;
  width: 100%;

}

.sw-component {
  display: inline-block;
  height: 100%;
}

.sw-port{
  fill: var(--sw-port);
}

.sw-port:hover{
  fill: var(--sw-port-hover);
}

.sw-port-admin-up{
  fill: var(--sw-port-admin-up);
}

.sw-port-operational-down{
  fill: var(--sw-port-operational-down);
}

.sw-port-admin-down{
  fill: var(--sw-port-admin-down);
}

.sw-port-operational-up{
  fill: var(--sw-port-operational-up);
}

.sw-port-10mbps{
  fill: var(--sw-port-10mbps);
}

.sw-port-100mbps{
  fill: var(--sw-port-100mbps);
}

.sw-port-1000mbps{
  fill: var(--sw-port-1000mbps);
}
