<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="box" id="filter">
    <form [formGroup]="severityForm" (ngSubmit)="submitForm()" novalidate>
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="field" *ngFor="let rank of severityRanks; let i=index" id="form-elements">
            <label class="checkbox">
              <input type="checkbox" [value]="rank.value" (change)="onCheckboxChange($event)">
              {{ rank.name }}
            </label>
          </div>
        </div>
        <div class="column"></div>
        <div class="column">
          <input type="submit" value="Filter" class="button is-link" id="button">
        </div>
      </div>
    </form>
  </div>
  <nav class="pagination is-rounded" role="navigation" aria-label="pagination" *ngIf="(events | keyvalue)?.length">
    <a class="pagination-previous" *ngIf="pageCount>1" (click)="setPageCount(-1)">Previous</a>
    <a class="pagination-next" *ngIf="pageCount<totalPages" (click)="setPageCount(1)">Next page</a>
    <ul class="pagination-list">
      <span *ngIf="pageCount>1">
        <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
      </span>
      <span *ngIf="pageCount>1">
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      </span>
      <span *ngIf="pageCount>2">
        <li><a class="pagination-link" (click)="setPageCount(-1)">{{ pageCount-1 }}</a></li>
      </span>
      <li><a class="pagination-link is-current" aria-current="page">{{ pageCount }}</a></li>
      <span *ngIf="pageCount<totalPages-1">
        <li><a class="pagination-link" (click)="setPageCount(1)">{{ pageCount+1 }}</a></li>
      </span>
      <span *ngIf="pageCount<totalPages">
        <li><span class="pagination-ellipsis">&hellip;</span></li>
      </span>
      <span *ngIf="pageCount<totalPages">
        <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
      </span>
    </ul>
  </nav>
  <div class="box" *ngIf="(events | keyvalue)?.length">
    <table class="table">
      <thead>
        <tr>
          <th class="event-heading" style="width: 8%;">Date</th>
          <th style="width: 9%;">Time</th>
          <th style="width: 8%;">Severity</th>
          <th style="width: 20%;">Device</th>
          <th style="width: 55%;">Info</th>
        </tr>
      </thead>
      <tbody *ngFor="let event of events">
        <tr class="table-row">
          <td class="table-data"
            [ngClass]="{'event-debug': event.Alert.severity==1,'event-information': event.Alert.severity==2,'event-warning': event.Alert.severity==3,'event-error': event.Alert.severity==4,'event-disaster': event.Alert.severity==5}">
            {{ event.Alert.timestamp | date:'M/d/yyyy' }}</td>
          <td class="table-data">{{ event.Alert.timestamp | date:'HH:mm:ss' }}</td>
          <td class="table-data">
            <strong>
              <div *ngIf="event.Alert.severity == 1">
                <p style="color: var(--events_debug);">debug</p>
              </div>
              <div *ngIf="event.Alert.severity == 2">
                <p style="color: var(--events_information);">information</p>
              </div>
              <div *ngIf="event.Alert.severity == 3">
                <p style="color: var(--events_warning);">warning</p>
              </div>
              <div *ngIf="event.Alert.severity == 4">
                <p style="color: var(--events_error);">error</p>
              </div>
              <div *ngIf="event.Alert.severity == 5">
                <p style="color: var(--events_disaster);">disaster</p>
              </div>
            </strong>
          </td>
          <td class="table-data">
            <a href="/devices/{{ event.Alert.device_id }}" class="hyperlink">
              {{ event.device }}
              <!-- | slice : 0: event.device.length - 14 -->
            </a>
          </td>
          <td class="table-data">{{ event.Alert.problem }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
