<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="box" id="filter">
    <form [formGroup]="severityForm" (ngSubmit)="submitForm()" novalidate>
      <div class="columns">
        <div class="column is-four-fifths">
          <div class="field" *ngFor="let rank of severityRanks; let i=index" id="form-elements">
            <label class="checkbox">
              <input type="checkbox" [value]="rank.value" (change)="onCheckboxChange($event)">
              {{ rank.name }}
            </label>
          </div>
        </div>
        <div class="column"></div>
        <div class="column">
          <input type="submit" value="Filter" class="button is-link" id="button">
        </div>
      </div>
    </form>
  </div>
  <div class="columns" *ngIf="totalPages>1">
    <nav class="pagination is-rounded column" role="navigation" aria-label="pagination"
      *ngIf="((events | keyvalue)?.length) && (pageCount>1)" style="text-align: left;">
      <a class="pagination-previous" (click)="setPageCount(-1)">Previous</a>
    </nav>
    <nav class="pagination is-rounded column" role="navigation" aria-label="pagination"
      *ngIf="((events | keyvalue)?.length) && (pageCount == 1)" style="text-align: left;">
      <a class="pagination-previous" disabled="disabled">Previous</a>
    </nav>
    <nav class="pagination is-rounded column is-two-thirds" role="navigation" aria-label="pagination"
      *ngIf="(events | keyvalue)?.length">

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;" *ngIf="pageCount == 1">
        <span>
          <li><a class="pagination-link is-current" aria-current="page">1</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link" (click)="setPageCount(1)">2</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(2)">3</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(3)">4</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(4)">5</a></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(5)">6</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;" *ngIf="pageCount == 2">
        <span>
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link is-current" aria-current="page">2</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(1)">3</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(2)">4</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(3)">5</a></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(4)">6</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;" *ngIf="pageCount == 3">
        <span>
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link" (click)="setPageCount(-1)">2</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link is-current" aria-current="page">3</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(1)">4</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(2)">5</a></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(3)">6</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;"
        *ngIf="(pageCount > 3) && (pageCount < totalPages-2)">
        <span>
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="(totalPages==7) || ((totalPages==8) && (pageCount==6))">
          <li><a class="pagination-link" (click)="setPageCount(-2)">{{ pageCount-2 }}</a></li>
        </span>
        <span *ngIf="(totalPages>8) || ((pageCount>3) && (totalPages==8))">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ pageCount-1 }}</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link is-current" aria-current="page">{{ pageCount }}</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(1)">{{ pageCount+1 }}</a></li>
        </span>
        <span *ngIf="totalPages==7">
          <li><a class="pagination-link" (click)="setPageCount(2)">{{ pageCount+2 }}</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span>
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;"
        *ngIf="(pageCount == totalPages-2) && (pageCount>3)">
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-5 }}</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-4 }}</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-3 }}</a></li>
        </span>
        <span>
          <li><a class="pagination-link is-current" aria-current="page">{{ totalPages-2 }}</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(1)">{{ totalPages-1 }}</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;"
        *ngIf="(pageCount == totalPages-1) && (pageCount>3)">
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-5 }}</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-4 }}</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-3 }}</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-2 }}</a></li>
        </span>
        <span>
          <li><a class="pagination-link is-current" aria-current="page">{{ totalPages-1 }}</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link" (click)="gotoLastPage()">{{ totalPages }}</a></li>
        </span>
      </ul>

      <ul class="pagination-list" style="width: max-content; margin: 0 auto;"
        *ngIf="(pageCount == totalPages) && (pageCount>3)">
        <span *ngIf="totalPages>5">
          <li><a class="pagination-link" (click)="gotoFirstPage()">1</a></li>
        </span>
        <span *ngIf="totalPages>7">
          <li><span class="pagination-ellipsis">&hellip;</span></li>
        </span>
        <span *ngIf="totalPages == 7">
          <li><a class="pagination-link" (click)="setPageCount(-4)">{{ totalPages-5 }}</a></li>
        </span>
        <span *ngIf="totalPages>4">
          <li><a class="pagination-link" (click)="setPageCount(-4)">{{ totalPages-4 }}</a></li>
        </span>
        <span *ngIf="totalPages>3">
          <li><a class="pagination-link" (click)="setPageCount(-3)">{{ totalPages-3 }}</a></li>
        </span>
        <span *ngIf="totalPages>2">
          <li><a class="pagination-link" (click)="setPageCount(-2)">{{ totalPages-2 }}</a></li>
        </span>
        <span *ngIf="totalPages>1">
          <li><a class="pagination-link" (click)="setPageCount(-1)">{{ totalPages-1 }}</a></li>
        </span>
        <span>
          <li><a class="pagination-link is-current" aria-current="page">{{ totalPages }}</a></li>
        </span>
      </ul>

    </nav>
    <nav class="pagination is-rounded column" role="navigation" aria-label="pagination"
      *ngIf="((events | keyvalue)?.length) && (pageCount<totalPages)" style="text-align: right;">
      <a class="pagination-next" *ngIf="pageCount<totalPages" (click)="setPageCount(1)">Next</a>
    </nav>
    <nav class="pagination is-rounded column" role="navigation" aria-label="pagination"
      *ngIf="((events | keyvalue)?.length) && (pageCount==totalPages)" style="text-align: right;">
      <a class="pagination-next" disabled="disabled">Next</a>
    </nav>
  </div>
  <div class="box" *ngIf="(events | keyvalue)?.length">
    <table class="table">
      <thead>
        <tr>
          <th class="event-heading" style="width: 8%;">Date</th>
          <th style="width: 9%;">Time</th>
          <th style="width: 12%;">Severity</th>
          <th style="width: 19%;">Device</th>
          <th style="width: 52%;">Info</th>
        </tr>
      </thead>
      <tbody *ngFor="let event of events">
        <tr class="table-row">
          <td class="table-data"
            [ngClass]="{'event-debug': event.severity==1,'event-information': event.severity==2,'event-warning': event.severity==3,'event-error': event.severity==4,'event-disaster': event.severity==5}">
            {{ event.timestamp | date:'M/d/yyyy' }}</td>
          <td class="table-data">{{ event.timestamp | date:'HH:mm:ss' }}</td>
          <td class="table-data">
            <strong>
              <div *ngIf="event.severity == 1">
                <p style="color: var(--events_debug);">1 - debug</p>
              </div>
              <div *ngIf="event.severity == 2">
                <p style="color: var(--events_information);">2 - information</p>
              </div>
              <div *ngIf="event.severity == 3">
                <p style="color: var(--events_warning);">3 - warning</p>
              </div>
              <div *ngIf="event.severity == 4">
                <p style="color: var(--events_error);">4 - error</p>
              </div>
              <div *ngIf="event.severity == 5">
                <p style="color: var(--events_disaster);">5 - disaster</p>
              </div>
            </strong>
          </td>
          <td class="table-data">
            <a href="/devices/{{ event.device_id }}" class="hyperlink">
              {{ event.device }}
              <!-- | slice : 0: event.device.length - 14 -->
            </a>
          </td>
          <td class="table-data">{{ event.problem }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<app-footer></app-footer>
