.event-debug {
  border-left: var(--events_debug) 10px solid;
}

.event-information {
  border-left: var(--events_information) 10px solid;
}

.event-warning {
  border-left: var(--events_warning) 10px solid;
}

.event-error {
  border-left: var(--events_error) 10px solid;
}

.event-disaster {
  border-left: var(--events_disaster) 10px solid;
}

.home-container-scroll{
  height: 90vh;
  overflow: scroll;
}

