<app-nav-bar></app-nav-bar>
<div class="columns is-multiline is-mobile is-centered has-background-light">
  <app-home-devices class="column is-three-thirds-mobile is-three-thirds-tablet is-one-third-desktop is-one-third-widescreen"></app-home-devices>
  <app-home-alerts class="column is-three-thirds-mobile is-three-thirds-tablet is-one-third-desktop is-one-third-widescreen"></app-home-alerts>
  <app-home-charts class="column is-three-thirds-mobile is-three-thirds-tablet is-one-third-desktop is-one-third-widescreen"></app-home-charts>
</div>
