<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="box mx-2 my-5">
    <h5 class="title is-5">Network</h5>
    <div class="column">
      <input type="number" class="form-control" name="vlan-id" id="vlanIdInput"/>
      <input type="submit" value="Search VLAN" class="button is-link" id="button">&nbsp;
      <input type="button" value="Show all" class="button is-link" id="button">
    </div>
    <div id="networkGraph" class="d3-chart"></div>
  </div>
</div>
<app-footer></app-footer>
