<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="box">
    <h2 class="headline">
      Device: {{ device.device }}
    </h2>
    <p>Id: {{ device.id }}</p>
    <p>Category Id: {{ device.category_id }}</p>
  </div>

  <div class="box">
    <h2 class="headline">System</h2>
    <p>hostname: {{ features.system.hostname }}</p>
    <p>description: {{ features.system.description }}</p>
    <p>contact: {{ features.system.contact }}</p>
    <p>name: {{ features.system.name }}</p>
    <p>uptime: {{ features.system.uptime }}</p>
  </div>

  <div class="box">
    <h2 class="headline">Active Services</h2>
    <p *ngIf="features.services.PhysicalLayer">Physical Layer</p>
    <p *ngIf="features.services.DataLinkLayer">DataLink Layer</p>
    <p *ngIf="features.services.NetworkLayer">Network Layer</p>
    <p *ngIf="features.services.TransportLayer">Transport Layer</p>
    <p *ngIf="features.services.SessionLayer">Session Layer</p>
    <p *ngIf="features.services.PresentationLayer">Presentation Layer</p>
    <p *ngIf="features.services.ApplicationLayer">Application Layer</p>
  </div>

  <div class="box">
    <h2 class="headline">IP Addresses</h2>
    <div *ngFor="let ip of features.ipAddresses">
      <p>IP Address: {{ ip.ipAdEntAddr }}</p>
      <p>interface: {{ ip.ipAdEntIfIndex }}</p>
      <p>netmask: {{ ip.ipAdEntNetMask }}</p>
      <p>netmask size: {{ ip.ipAdEntReasmMaxSize }}</p>
    </div>
  </div>

  <div class="box">
    <h2 class="headline" style="margin-bottom: 1%">Interfaces</h2>
    <div class="box" *ngFor="let interface of features.interfaces">
      <h3><strong>{{ interface.ifIndex }}: {{ interface.ifDescr }}</strong></h3>
      <p>Type: {{ interface.ifType }}</p>
      <p>MAC: {{ interface.ifPhysAddress }}</p>
      <p>Admin Status: {{ interface.ifAdminStatus }}</p>
      <p>Operating Status: {{ interface.ifOperStatus }}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
